[data-theme='caftheme'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-400);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.25rem;
	--radius-container: 0.25rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(93.85% 0.01 253.86deg);
	--color-primary-100: oklch(86.63% 0.02 253.35deg);
	--color-primary-200: oklch(79.37% 0.03 255.11deg);
	--color-primary-300: oklch(72.06% 0.04 250.96deg);
	--color-primary-400: oklch(64.51% 0.05 252.64deg);
	--color-primary-500: oklch(56.73% 0.06 252.93deg);
	--color-primary-600: oklch(52.65% 0.05 252.53deg);
	--color-primary-700: oklch(48.17% 0.05 252.97deg);
	--color-primary-800: oklch(43.96% 0.04 253.53deg);
	--color-primary-900: oklch(39.27% 0.04 254.28deg);
	--color-primary-950: oklch(34.77% 0.03 253.89deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(95.68% 0.02 25.25deg);
	--color-secondary-100: oklch(90.7% 0.04 25.09deg);
	--color-secondary-200: oklch(86.11% 0.07 26.46deg);
	--color-secondary-300: oklch(81.37% 0.09 27.4deg);
	--color-secondary-400: oklch(77.16% 0.12 28.25deg);
	--color-secondary-500: oklch(72.95% 0.15 28.67deg);
	--color-secondary-600: oklch(67.39% 0.13 28.92deg);
	--color-secondary-700: oklch(61.73% 0.12 28.64deg);
	--color-secondary-800: oklch(55.92% 0.11 28.96deg);
	--color-secondary-900: oklch(49.97% 0.1 28.59deg);
	--color-secondary-950: oklch(43.83% 0.08 29.04deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(94.73% 0.03 225.65deg);
	--color-tertiary-100: oklch(88.85% 0.06 225.97deg);
	--color-tertiary-200: oklch(83.01% 0.09 228deg);
	--color-tertiary-300: oklch(77.78% 0.11 229.99deg);
	--color-tertiary-400: oklch(72.74% 0.13 233.18deg);
	--color-tertiary-500: oklch(68.47% 0.15 237.31deg);
	--color-tertiary-600: oklch(63.2% 0.14 237.15deg);
	--color-tertiary-700: oklch(57.81% 0.12 236.9deg);
	--color-tertiary-800: oklch(52.61% 0.11 236.42deg);
	--color-tertiary-900: oklch(46.95% 0.1 235.97deg);
	--color-tertiary-950: oklch(41.13% 0.08 235.44deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(98.37% 0.02 128.64deg);
	--color-success-100: oklch(96.64% 0.05 128.46deg);
	--color-success-200: oklch(94.99% 0.07 129deg);
	--color-success-300: oklch(93.23% 0.1 128.42deg);
	--color-success-400: oklch(91.69% 0.12 129.12deg);
	--color-success-500: oklch(90.2% 0.15 129.63deg);
	--color-success-600: oklch(83.16% 0.13 129.31deg);
	--color-success-700: oklch(76.14% 0.12 129.75deg);
	--color-success-800: oklch(68.77% 0.11 129.36deg);
	--color-success-900: oklch(61.39% 0.1 129.95deg);
	--color-success-950: oklch(53.59% 0.08 129.45deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-dark);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(96.66% 0.04 92.8deg);
	--color-warning-100: oklch(92.85% 0.07 92.93deg);
	--color-warning-200: oklch(89.28% 0.11 92.19deg);
	--color-warning-300: oklch(85.8% 0.14 91.57deg);
	--color-warning-400: oklch(82.61% 0.16 89.43deg);
	--color-warning-500: oklch(79.53% 0.16 86.04deg);
	--color-warning-600: oklch(73.44% 0.15 86.42deg);
	--color-warning-700: oklch(67.23% 0.14 86.89deg);
	--color-warning-800: oklch(60.78% 0.12 86.11deg);
	--color-warning-900: oklch(54.25% 0.11 86.67deg);
	--color-warning-950: oklch(47.51% 0.1 87.45deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(92.42% 0.04 348.1deg);
	--color-error-100: oklch(83.94% 0.08 348.39deg);
	--color-error-200: oklch(75.74% 0.12 349.39deg);
	--color-error-300: oklch(68.16% 0.17 351.73deg);
	--color-error-400: oklch(61.78% 0.2 354.34deg);
	--color-error-500: oklch(57.22% 0.22 358.61deg);
	--color-error-600: oklch(52.78% 0.2 358.29deg);
	--color-error-700: oklch(48.48% 0.19 358.24deg);
	--color-error-800: oklch(43.85% 0.17 357.8deg);
	--color-error-900: oklch(39.34% 0.15 357.68deg);
	--color-error-950: oklch(34.45% 0.13 356.99deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-light);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(98.76% 0 247.73deg);
	--color-surface-100: oklch(97.52% 0 247.8deg);
	--color-surface-200: oklch(96.2% 0.01 239.73deg);
	--color-surface-300: oklch(94.72% 0.01 247.87deg);
	--color-surface-400: oklch(93.39% 0.01 242.8deg);
	--color-surface-500: oklch(92.14% 0.01 243.63deg);
	--color-surface-600: oklch(85.06% 0.01 238.49deg);
	--color-surface-700: oklch(77.62% 0.01 242.84deg);
	--color-surface-800: oklch(70.29% 0.01 241.67deg);
	--color-surface-900: oklch(62.47% 0.01 247.93deg);
	--color-surface-950: oklch(54.62% 0.01 239.86deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-dark);
	--color-surface-contrast-700: var(--color-surface-contrast-dark);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}