@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
/* Add your theme import for your theme: "cerberus" here */

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
/* @import '@skeletonlabs/skeleton/themes/cerberus'; */
@import '@skeletonlabs/skeleton/themes/hamlindigo';

/* @import '../caf-theme'; */

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));
