@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
/* Add your theme import for your theme: "cerberus" here */

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';

@import '../caf-theme';
